<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Suite1" verbose="1" >
    <test name="Groups" >
        <classes>
            <class name="com.telRan.addressbok.tests.GroupCretionTests" />
            <class name="com.telRan.addressbok.tests.GroupModificationTests" />
            <class name="com.telRan.addressbok.tests.GroupDeletionTests" />
        </classes>
    </test>

    <test name="Contacts">
        <classes>
            <class name="com.telRan.addressbok.tests.AddContact"/>
            <class name="com.telRan.addressbok.tests.ContactModificationTests"/>
            <class name="com.telRan.addressbok.tests.ContactDeletionTests"/>

        </classes>
    </test>
</suite>
